<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <scorestore-logo></scorestore-logo>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref-active="active" ui-sref="home">{{ home.label }}</a></li>
            <li>
                <search-bar></search-bar>
            </li>
        </ul>
        <ul>
            <div>
                <button ng-show="user.isAdmin" ui-sref="adminDash" class="btn login-button">Admin Only!</button>
                <button ui-sref="cart" class="btn glyphicon glyphicon-shopping-cart"></button>
            </div>
            <div ng-show="!isLoggedIn()" ng-repeat="button in loggedOutButtons">
                <button ui-sref="{{button.state}}" class="btn login-button">{{button.label}}</button>
            </div>
            <div ng-show="isLoggedIn()">
                <button ng-click="logout()" class="btn login-button">Logout</button>
                <button ui-sref="myAccount({userId: user.id})" class="btn login-button">My Account</button>
            </div>
        </ul>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
        </div>
    </div>
</nav>
