#welcome-image {
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://www.guitarramagazine.com/screens/customscreens/guitarra/images/SheetMusicbig.jpg');
  height: 250px;
}

#welcome-banner {
  background-color: red;
  height: 350px;

  p {
    font-size: 30px;
    text-align: center;
  }
}

.sheet-music-thumbnail {
  float: left;
}

.product-info {
  float: left;
  margin-left: 50px;
}

.products {
  margin-top: 50px;
  height: 250px;
}

#main {
  margin-top: 20px;
}