<section id="checkout-page">
    <div class="checkout-container">    
      <div class="row order-container" ng-show="!session.user && !isGuest">
        <header class="text-center">
          <h3>Complete Your Order</h3>
        </header>
        <div class="col-xs-12" ng-show="!guestLogin">
            <button ng-click="userLogin=false; signUp=false; guestLogin=!guestLogin" class="button large expanded text-center">Checkout As Guest</button>
        </div>
        <div class="col-xs-12" ng-show="!signUp">
            <button ng-click="userLogin=false; guestLogin=false; signUp=!signUp" class="button large expanded text-center">SignUp</button>
        </div>
        <div class="col-xs-12" ng-show="!userLogin">
            <button ng-click="userLogin=!userLogin; signUp=false; guestLogin=false; guestLoginForm.$submitted=false" class="button large expanded text-center">Login to Checkout</button>
        </div>
  
        <div ng-show="guestLogin && !userLogin" ng-controller="GuestLoginCtrl">
          <form name="guestLoginForm" novalidate ng-submit="guestLoginForm.$valid && sendGuest(guest)">
            <alert type="danger" ng-show="error">
                    {{ error }}
            </alert>
            <div ng-messages="guestLoginForm.email.$error" ng-hide="guestLoginForm.email.$pristine" role="alert">
                <div ng-message="required" class="alert alert-warning">Email is required</div>
                <div ng-message="email" ng-show="guestLoginForm.$submitted" class="alert alert-warning">Please enter a valid email</div>
            </div>
            <div class="form-group"> 
              <label for="email" class="control-label">Email address</label>
              <input class="form-control" name="email" type="email" ng-model="guest.email" id="email" placeholder="Enter email" required>
            </div>
            <div class="text-center">
                <button type="submit" class="button">Submit</button>
            </div>
          </form>
        </div>

        <div ng-controller="UserLoginCtrl" ng-show="userLogin && !guestLogin">
            <form name="loginForm" novalidate ng-submit="loginForm.$valid && sendLogin(login)">
                <alert type="danger" ng-show="error">
                    {{ error }}
                </alert>
                <div ng-messages="loginForm.email.$error" ng-hide="loginForm.email.$pristine" role="alert">
                    <div ng-message="required" class="alert alert-warning">Email is required</div>
                    <div ng-message="email" ng-show="loginForm.$submitted" class="alert alert-warning">Please enter a valid email</div>
                </div>
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted" role="alert">
                    <div ng-message="required" class="alert alert-warning">Password is required</div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email address</label>
                    <input class="form-control" type="email" ng-model="login.email" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" ng-model="login.password" name="password" class="form-control" id="login-password" placeholder="Password" required>
                </div>
                <div class="text-center">
                  <button type="submit" class="button">Submit</button>
                </div>
            </form>
        </div>
      </div>

      <div class="row" ng-show="session.user || isGuest">
        <header class="text-center">
          <h3>Enter Shipping Address</h3>
        </header>
          <div class="well cart-container">
            <form class="form-inline" role="form" novalidate name="addressForm" ng-submit="addressForm.$valid && submitAddress(orderAddress, session)">
              <fieldset>
                <alert type="danger" ng-show="error">
                  {{ addressError }}
                </alert>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="firstName" class="control-label">First Name</label>
                    <div>
                      <input class="form-control" name="firstName" type="text" ng-model="orderAddress.firstName" required>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastName" class="control-label">Last Name</label>
                    <div>
                      <input class="form-control" name="lastName" type="text" ng-model="orderAddress.lastName" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="address" class="control-label">Address</label>
                    <div>
                      <input class="form-control" name="address" type="text" ng-model="orderAddress.address" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="city" class="control-label">City</label>
                    <div>
                      <input class="form-control" name="city" type="text" ng-model="orderAddress.city" required>
                    </div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="state" class="control-label">State</label>
                    <div>
                       <select class="selectpicker" name="state" ng-model="orderAddress.state" required>
                          <option value="AK">AK</option>
                          <option value="AL">AL</option>
                          <option value="AR">AR</option>
                          <option value="AZ">AZ</option>
                          <option value="CA">CA</option>
                          <option value="CO">CO</option>
                          <option value="CT">CT</option>
                          <option value="DC">DC</option>
                          <option value="DE">DE</option>
                          <option value="FL">FL</option>
                          <option value="GA">GA</option>
                          <option value="HI">HI</option>
                          <option value="IA">IA</option>
                          <option value="ID">ID</option>
                          <option value="IL">IL</option>
                          <option value="IN">IN</option>
                          <option value="KS">KS</option>
                          <option value="KY">KY</option>
                          <option value="LA">LA</option>
                          <option value="MA">MA</option>
                          <option value="MD">MD</option>
                          <option value="ME">ME</option>
                          <option value="MI">MI</option>
                          <option value="MN">MN</option>
                          <option value="MO">MO</option>
                          <option value="MS">MS</option>
                          <option value="MT">MT</option>
                          <option value="NC">NC</option>
                          <option value="ND">ND</option>
                          <option value="NE">NE</option>
                          <option value="NH">NH</option>
                          <option value="NJ">NJ</option>
                          <option value="NM">NM</option>
                          <option value="NV">NV</option>
                          <option value="NY">NY</option>
                          <option value="OH">OH</option>
                          <option value="OK">OK</option>
                          <option value="OR">OR</option>
                          <option value="PA">PA</option>
                          <option value="RI">RI</option>
                          <option value="SC">SC</option>
                          <option value="SD">SD</option>
                          <option value="TN">TN</option>
                          <option value="TX">TX</option>
                          <option value="UT">UT</option>
                          <option value="VA">VA</option>
                          <option value="VT">VT</option>
                          <option value="WA">WA</option>
                          <option value="WI">WI</option>
                          <option value="WV">WV</option>
                          <option value="WY">WY</option>
                       </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="zipCode" class="control-label">Zip Code</label>
                    <div>
                      <input class="form-control" name="zipCode" type="text" ng-model="orderAddress.zipCode" placeholder="5 digits" required ng-minlength="5" ng-maxlength="5">
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <div>
                    <button type="submit" class="button" ng-disabled="addressForm.$invalid">Enter Shipping Address</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
      </div>
    </div>
</section>