<div class="row orderpage-container">
    <div growl></div>
  <form class="admin-edit-form" ng-submit="updateOrCreate(song, composer, genre)">
    <label ng-hide="newSong">ID</label>
    <input ng-hide="newSong" type="text" ng-model="song.id" ng-disabled="true">
    <h3 ng-show="newSong">Create a New Song</h3>
    <label>Title</label>
    <input type="text" ng-model="song.title" required>
    <label>Subtitle</label>
    <input type="text" ng-model="song.subtitle">
    <label>Description</label>
    <input required type="text" ng-model="song.description">
    <label>Year Composed</label>
    <input type="text" ng-model="song.year">
    <label>File Name</label>
    <input required type="text" ng-model="song.fileName">
    <label>Price</label>
    <input type="text" required ng-model="song.price">
    <label>Inventory Quantity</label>
    <input type="text" required ng-model="song.inventoryQuantity">
    <label>Instruments</label>
    <input type="text" ng-model="song.instrumentTags">
    <label>Source URL</label>
    <input type="text" ng-model="song.sourceURL">
    <label>Public Domain Status</label>
    <input type="text" ng-model="song.publicDomainStatus">
    <label>Composer</label>
    <input type="text" ng-model="composer.fullName">
    <label>Genre</label>
    <input type="text" ng-model="genre.genreName">
    <button class="btn btn-raised btn-primary" type="submit">Save</button>
    <button class="btn btn-raised btn-danger" ui-sref="adminDash.songs">Cancel</button>
  </form>
</div>