#view-buttons {
  margin-top: 50px;
}

#add-song {
  display: block;
  margin-top: 50px;
}

.admin-edit-form {
  margin-top: 50px;
}

.admin-edit-form input {
  margin-right: 100%;
}

.admin-add-btn {
	margin-bottom: 30px
}

.admin-edit-btn {
	margin-bottom: 20px;
}