.checkout-container {
	margin: 0 auto;
	width: 70%;
	margin-top: 30px;

	h3 {
		margin-top: 50px;
	}
}

.order-container {
	margin: 0 auto;
	width: 40%;
	margin-top: 30px
}

.form-inline {
	padding: 10px;
}

.form-inline .form-group input {
	width:100%;
}

.orderpage-container {
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;
	h3 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 3px;
	}
}

