<section id="home">
    <div id="welcome-banner">
      <p>Welcome to Scorestore! Buy some music!</p>
      <div id="welcome-image"></div>
    </div>

    <div class="container-fluid">
      <div class="col-lg-4 col-md-6 col-xs-12 products" ng-repeat="song in songs">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <a ui-sref="<<<<song({songId: song.id})>>>>>"><img class="thumbnail" height="200" width="200" ng-src="{{ song.photo.externalUrl }}"></a>
          </div>
          <div class="col-lg-8 col-md-6 col-xs-12">
            <div class="product-info">
              <a ui-sref="oneSong ({songId:song.id})"><h4>{{ song.title }}</h4></a>
              <a ui-sref="<<<<home | composer>>>>>"><h5>{{ song.composer.fullName }}</h5></a>
              <h6>{{ song.price | currency }}</h6>
              <a ui-sref="cart" ng-click="addToCart(song)" class="btn btn-raised btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>













</section>
