<form class="admin-edit-form" ng-submit="updateOrCreate(user)">
  <label ng-hide="newSong">ID</label>
  <input ng-hide="newSong" type="text" ng-model="user.id" ng-disabled="true">
  <h3 ng-show="newSong">Create a New Song</h3>
  <label>First Name</label>
  <input type="text" ng-model="user.firstName" required>
  <label>Last Name</label>
  <input type="text" ng-model="user.lastName" required>
  <label>Email</label>
  <input required type="text" ng-model="user.email" required>
  <label>Password</label>
  <input required type="password" ng-model="user.password" required>
  <label>Admin</label>
  <input required type="checkbox" ng-model="user.isAdmin">
  <button type="submit">Save</button>
  <button ui-sref="adminDash.users">Cancel</button>
</form>